@import '../../node_modules/code-prettify/loader/skins/desert.css';

body {
  font-family: 'Roboto Slab', serif;
}
ol.linenums {
  overflow-y: hidden;
  /* padding: 10px 0px; */
  padding-top: 10px;
  background-color: black;
  color: white;
}

p code {
  background-color: black;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
}

@mixin post-title {
  font-size: 3em;
  color: black;
  text-align: left;
  font-weight: inherit;
}
@mixin post-sub-title {
  font-size: 1.2em;
  color: dimgray;
  // font-style: oblique;
  font-weight: bold;
  text-align: left;
  position: relative;
}

@mixin link {
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  color: inherit;
  &:hover {
    // background-color: black;
    // color: white;
  }
}

body {
  margin: 0px;
  position: relative;
}

.link {
  @include link;
}

.post-title {
  @include post-title;
  &.link {
    text-decoration: none;
    &:hover {
    }
  }
}

.post-date {
  font-weight: bold;
  color: black;
}

.post-date-container {
  margin: 15px 0;
}

.post-title-container {
  margin-bottom: 15px;
  position: relative;
}

.post-sub-title {
  @include post-sub-title;
}

.post-container {
  box-sizing: border-box;
  margin: 60px auto;
  width: 90%;
  > div {
    margin-bottom: 30px;
  }
  @media (min-width: 800px) {
    width: 80%;
  }

  @media (min-width: 1000px) {
    width: 70%;
  }

  @media (min-width: 1200px) {
    width: 60%;
  }

  @media (min-width: 1300px) {
    width: 50%;
  }

  h1 {
    @include post-title;
  }
  #preamble {
    @include post-sub-title;
  }
  h2 {
    font-weight: bold;
  }
}

.header-bar {
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2em;
  position: relative;
}

.header-bar-content {
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  left: 50%;
}

.continue-link {
  font-size: 1.2em;
  display: block;
  margin-top: 10px;
}

.sidebarblock .content {
  padding: 5px;
  // background-color: rgb(243, 243, 243);
  // font-style: oblique;
  border-left: 4px solid black;
  padding-left: 10px;
  .title {
    color: black;
    font-weight: bold;
  }
  .paragraph {
  }
}

a {
  @include link;
}

xmp {
  margin: 0;
}
